*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.container{
    width: 80%;
    background-color: lightgray;
    margin: auto;
}

header, footer{
    height: 80px;
    background-color: red;
    width: 80%;
    margin: auto;
}

.main_banner{
    background-color: royalblue;
    height: 300px;
}

.left_column, .right_column{
    width: 20%;
    float: left;
    height: 400px;
}

.left_column{
    background-color: seagreen;
}
.central_column{
    width: 60%;
    height: 400px;
    background-color: tomato;
    float: left;
}
.right_column{
    background-color: slateblue;
}
